extends ../layouts/pages-layout 

block title 
    -var title="Дота 2"

block content
    header 
        .dota-box 
            .container 
                .row 
                    .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                        .hero-section.pt-5 
                            h1.hero-title.text-white.m-0 Dota 2
                            p.hero-desc.text-white.my-5 
                                |Dota 2 - компьютерная многопользовательская командная игра жанра стратегия в реальном времени с элементами компьютерной ролевой игры, реализациа известной карты DotA для игры Warcraft III в отдельном клиенте.
                                